<div class="container">
<h1><%= head%></h1>

<%= form_for(@post, url: @post) do |f| %>
  <div class="form-group">
  <%= f.text_field(:title, class: 'form-control')  %>
  </div>
  <%= f.text_area(:content, class: 'form-control')%><br>
  <%= submit_tag btnt, class: "btn btn-#{btnc} col-md-12"  %>
  <% end %>

</div>

  