<div class="container">
    <h1>Home</h1>
    <% @posts.each do |post| %>
        <div class="card md-12 mb-3">
            <div class="card-body">
                <h3 class="card-title"><%= post.title %></h3>
                <h7 class="card-title"><b><%= post.user.name %></b></h7>
                <p class="card-text"><%= post.content %></p>
                <a href="<%= edit_post_path(post.id) %>" class="btn btn-primary"> Update </a>
                <%= link_to 'Delete', post, method: :delete,  class: "btn btn-danger" %>
            </div>
        </div>  

    <% end %>
</div>